/*----------------------------------------
    register Page
------------------------------------------*/

@import 'variables.scss';

.register-bg{
	background-image: url("../../images/gallery/flat-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#register-page{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.card-panel.border-radius-6.register-card{
		margin-left: 0 !important;
	}
}
