// ==========================================================================
// Materialize theme variables
// Extended from : theme-components/variables.scss
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Sidenav

// Colors
$body-bg: #f9f9f9;
$breadcrumbs-bg: transparent;

//Sidenav
$sidenav-active-text-color: #333;
$sidenav-active-bg: $white;